* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: #0f2027;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Background shapes */
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.trash-shape {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0.25;
    border-radius: 30px;
}

.green {
    background: #2ecc71;
    top: 10%;
    left: 15%;
}

.yellow {
    background: #f1c40f;
    bottom: 15%;
    right: 20%;
}

.blue {
    background: #3498db;
    top: 20%;
    right: 10%;
}

/* Auth Card */
.auth-card {
    width: 360px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(12px);
    padding: 35px;
    border-radius: 18px;
    text-align: center;
    color: #fff;
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
}

/* Logo */
.logo {
    width: 70px;
    height: 70px;
    margin: auto;
    background: #2ecc71;
    border-radius: 50%;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.auth-card h2 {
    margin-bottom: 5px;
}

.auth-card p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #e0e0e0;
}

/* Form */
.auth-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.auth-card button {
    width: 100%;
    padding: 12px;
    background: #27ae60;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.auth-card button:hover {
    background: #219150;
}

.auth-card span {
    display: block;
    margin-top: 15px;
    font-size: 13px;
}

.auth-card a {
    color: #2ecc71;
    text-decoration: none;
}
